.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #24292e;
}

@media (min-width: 768px) {
  .header {
    padding: 25px 10px;
    height: 90px;
  }
}

.input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  color: #a9a9a9;
  background-color: #fff;
  border: 1px solid #24292e;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(#e5e5e5, 25%) inset;
  transition: border-color .15s, box-shadow .15s;
  outline: none;
  transition: color .15s, border-color .15s;
}
.input:hover,
.input:focus {
  border-color: #0080ff;
}
.input:focus {
  color: #24292e;
  border-color: rgba(#0080ff, 50%);
  box-shadow: 0 0 2px 1px rgba(#e5e5e5, 25%) inset, 0 0 0 2px rgba(#0080ff, 25%);
}
