.search {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #24292e;
}

@media (min-width: 768px) {
  .search {
    padding: 25px 10px;
    height: 90px;
  }
}

.input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 500px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  color: #a9a9a9;
  background-color: #fff;
  border: 1px solid #24292e;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(#e5e5e5, 25%) inset;
  transition: border-color .15s, box-shadow .15s;
  outline: none;
  transition: color .15s, border-color .15s;
}
.input:hover,
.input:focus {
  border-color: #0080ff;
}
.input:focus {
  color: #24292e;
  border-color: rgba(#0080ff, 50%);
  box-shadow: 0 0 2px 1px rgba(#e5e5e5, 25%) inset, 0 0 0 2px rgba(#0080ff, 25%);
}

.repos {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 500px;
}

@media (min-width: 768px) {
  .repos {
    padding: 120px 0;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  margin: 0; 
  padding: 0 0 15px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: normal; 
  color: #707070; 
}

.title {
  margin: 0;
  padding: 0 0 20px;
  font-size: 18px;
  text-align: center;
  
}

.license {
  margin: 0 0 0 8px;
}

.item {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.item:last-child {
  border-bottom: none;
}
.item .name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #24292e;
  transition: color 0.15s;
}
.item .icon {
  margin: 0 8px 0 0; 
}
.item .details {
  margin: 10px 0 0;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 12px; 
  text-decoration: none;
}
.item .label {
  margin: 0 15px 0 0;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back {
  margin: 10px auto 0;
}

.pagination {
  margin: 0;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination li {
  padding: 0 10px; 
  outline: none;
}
.pagination li:first-child {
  margin-right: auto;
}
.pagination li:last-child {
  margin-left: auto;
}

.page {
  display: block;
  padding: 10px;
  color: #24292e;
  transition: color 0.15s;
  outline: none;
  text-decoration: none;
  cursor:pointer;
}
a.page:hover {
  color: #0080ff;
}
[class*="rc-pagination-item-active"] .page,
[class*="rc-pagination-disabled"] .page {
  color: #a9a9a9 !important;
  cursor: default;
}
